**/.*/*
!**/Plugins/.sources/**/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/spellright.dict
!.vscode/c_cpp_properties.json
!.doc/**/*
!**/.bin/*.backup
!**/.gdignore

# packages exceptions do not didnt work on PC adhoc installing
**/[Pp]ackages/
!**/[Pp]ackages/manifest.json
!**/[Pp]ackages/packages-lock.json
**/[Oo]bj/
**/[Bb]in/
**/[Tt]emp/
**/[Ll]ogs/
UserSettings/
Library/

**/Debug/
**/Release/

*.sln
*.csproj
*.user

godot.log
vc*.pdb
.vsconfig
.scons*
**/src/**/*.obj
**/__pycache__/
_ReSharper.Caches

_build/
!_build/*.zip
